.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 6px;
  flex-shrink: 0;
  @apply rounded-primary mr-4;
}

.badge span {
  letter-spacing: 1px;
  @apply text-white leading-6;
}

.container p {
  margin-bottom: 0;
  max-width: 1200px;
  @apply text-white;
}

.container p a {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  white-space: nowrap;
  @apply text-white;
}

.additionalinfo {
  display: none;
}

@media screen and (min-width: 768px) {
  .additionalinfo {
    display: inline;
  }
}
