---
import i18next from "i18next"
import { localizePath } from "astro-i18next"
import localeEmoji from "locale-emoji"
import ISO6991 from "iso-639-1"

const supportedLanguages = i18next.languages
const currentLanguage = i18next.language

const { pathname } = Astro.url

const { showFlag = false, languageMapping, ...attributes } = Astro.props
---

<div class="language-selector">
  <ul class="options-list">
    {
      supportedLanguages.map((supportedLanguage) => {
        let value = localizePath(pathname, supportedLanguage)
        const flag = showFlag ? localeEmoji(supportedLanguage) + " " : ""
        let nativeName = ""
        if (languageMapping && languageMapping.hasOwnProperty(supportedLanguage)) {
          nativeName = languageMapping[supportedLanguage]
        } else {
          nativeName = ISO6991.getNativeName(supportedLanguage)
        }

        const label = flag + nativeName

        return (
          <li value={value} onclick={`if ("${value}" !== window.location.pathname) location.href = "${value}";`}>
            {label}
          </li>
        )
      })
    }
  </ul>
</div>

<style>
  .language-selector {
    position: relative;
    height: 22px;
    width: 83px;
    display: none;
  }

  .options-list {
    width: 83px;
    background-repeat: no-repeat;
    background-position: right 6px top 3px;
    background-size: 1em;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    height: 22px;
    letter-spacing: 0.14px;
    padding: 0px 15px;
    border-radius: 5px;
    border: 1px solid var(--black-100);
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 0;
    transition: height 0.3s ease;
    background-size: 8px;
    @apply bg-white dark:bg-dark-normal border-black dark:border-white;
  }

  .options-list:hover {
    height: auto;
  }

  .options-list li:hover {
    color: var(--orange-500);
  }

  @media (min-width: 50em) {
    .language-selector {
      width: 94px;
      height: 35px;
    }

    .options-list {
      background-position: right 8px top 14px;

      font-weight: 400;
      line-height: 35px;
      letter-spacing: 0.16px;
      height: 35px;
      width: 94px;
    }
  }
</style>
