:root {
  --color-background-primary: var(--white);
  --color-background-secondary: var(--blue-100);
  --color-background-error: var(--red-100);
  --color-background-contrast: var(--blue-900);
  --color-background-warning: var(--yellow-100);
  --color-background-success: var(--green-100);
  --color-background-info: var(--blue-100);
  --color-background-disabled: var(--gray-200);
}
