---
import heroBg from "../assets/hero-bg.png"
import button from "../../styles/design-system/button.module.css"
import { clsx } from "../../../lib"
import { SearchCTA } from "../components/SearchCTA.tsx"
import { t } from "i18next"
---

<div class="hero-cta">
  <div id="hero-search">
    <h2>{t("landing.search.title")}</h2>
    <SearchCTA client:idle="react" />
  </div>
</div>

<style>
  #hero-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @apply py-20 px-0;
  }

  #hero-search h2 {
    max-width: 460px;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px; /* 114.583% */
    letter-spacing: 0.48px;

    @apply text-contrast;
  }

  #hero-search:before {
    content: "";
    /* background-image: url(../assets/hero-bg.png); */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100vw;
    z-index: -1;
    background-position: center left;
    background-repeat: no-repeat;
    background-color: var(--black-100);
  }

  .hero-cta {
    min-height: 100px;
    position: relative;
  }
</style>
