---
import newToChainlink from "../assets/new-to-chainlink.svg"
import button from "../../../styles/design-system/button.module.css"
import { clsx } from "~/lib"
import i18next, { t } from "i18next"
---

<section class="card">
  <img class="img" src={newToChainlink} width="48" height="49" alt="New to Chainlink and Smart Contracts?" />
  <div class="copy">
    <h5>{t("landing.newUserCTA.title")}</h5>
    <p>{t("landing.newUserCTA.description")}</p>
  </div>
  <div class="spacer"></div>
  <a class={clsx(button.primary, "cta-button")} href="/getting-started/conceptual-overview"> Get Started</a>
</section>

<style>
  .card {
    text-align: center;
    border: 0;
    @apply bg-blue-100;
  }
  .copy p {
    @apply text-value;
  }

  @media (min-width: 50em) {
    .card {
      text-align: left;
      display: flex;
      align-items: center;
      @apply gap-4;
    }
    .spacer {
      flex-grow: 1;
    }
    .copy p {
      @apply m-0;
    }
    .img {
      width: 80px;
      height: 80px;
    }
  }
</style>
