---
import button from "../../../styles/cl-design-system/button.module.css"
import nodesIcon from "../assets/nodes-icon.svg"
import { clsx } from "~/lib"
---

<section class="cta-container">
  <img src={nodesIcon} alt="Scroll Node" width="80" height="80" />
  <h3>Need to run your own Scroll Node?</h3>
  <p>See the Node Operator’s Guide to learn about starting and maintaining Scroll Nodes.</p>
  <a class={clsx(button.secondary, "cta-button")} href="/infrastructure/"> Node Operator’s Guide</a>
</section>

<style>
  .cta-container {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @apply p-8 bg-blue-600 rounded-primary;
  }

  .cta-container > :is(h3, p) {
    @apply text-contrast;
  }

  .cta-container > img {
    @apply m-0;
  }

  .cta-container > h3 {
    @apply m-0 mt-8;
  }

  .cta-container > p {
    @apply m-0 mt-2;
  }

  .cta-container > a {
    @apply m-0 mt-6;
  }

  .cta-container > * {
    @apply m-0;
  }
</style>
