---
import { t } from "i18next"
---

<div class="resources-cta">
  <h2 class="heading-500">{t("landing.resourcesCTA.title")}</h2>
  <div>
    <a href="/">Great Link 1</a><a href="/">Greater Link 2</a>
  </div>
  <div>
    <a href="/">Prefect Resource 1</a><a href="/">More Perfect Resource 2</a>
  </div>
  <div>
    <a href="/">The Resources Just Get Better</a>
  </div>
</div>

<style>
  .resources-cta {
    display: grid;
    grid-template-columns: 1fr;
    @apply bg-background-secondary gap-4 p-8 rounded-primary;
  }
  @media (min-width: 50em) {
    .resources-cta {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      @apply bg-background-secondary gap-8;
    }
  }

  .resources-cta div a {
    display: block;
    @apply mt-4;
  }

  .resources-cta div a:first-child {
    @apply mt-0;
  }
</style>
