---
import i18next, { t } from "i18next"
import * as CONFIG from "../../config"
const { editHref } = Astro.props
const showMoreSection = CONFIG.COMMUNITY_INVITE_URL || editHref
---

{showMoreSection && <h2 class="heading">{t("rightSidebar.more")}</h2>}
<ul>
  {
    editHref && (
      <li class={`header-link depth-2`}>
        <a class="edit-on-github" href={editHref} target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
            <g clip-path="url(#clip0_2084_4360)">
              <path
                d="M1.05325 15.0003C0.471985 14.9989 0.00146823 14.5263 0.0029331 13.9448C0.0029331 13.8999 0.00615582 13.8551 0.0117223 13.8106L0.387902 10.936C0.42218 10.6758 0.54142 10.4341 0.72658 10.2484L10.6376 0.33753C11.0885 -0.111884 11.8177 -0.111884 12.2686 0.33753L14.6657 2.7346C15.1151 3.18548 15.1151 3.91468 14.6657 4.36556L4.75469 14.2764C4.56894 14.4618 4.32724 14.5808 4.06708 14.6151L1.19241 14.9912C1.14641 14.9974 1.09983 15.0003 1.05325 15.0003ZM1.82816 11.2184L1.53372 13.4693L3.78465 13.1748L13.4094 3.55023L11.453 1.59378L1.82816 11.2184Z"
                fill="currentColor"
              />
              <path
                d="M11.9223 6.80508C11.728 6.80567 11.5417 6.72891 11.4043 6.5918L8.41067 3.59824C8.12473 3.31172 8.12473 2.84766 8.41126 2.56172C8.69779 2.27578 9.16186 2.27578 9.4478 2.56231L12.4402 5.55469C12.7262 5.84063 12.7265 6.3044 12.4402 6.59063C12.3028 6.72803 12.1165 6.80537 11.9223 6.80508Z"
                fill="currentColor"
              />
            </g>
            <defs>
              <clipPath id="clip0_2084_4360">
                <rect width="15" height="15" fill="white" transform="translate(0.00292969)" />
              </clipPath>
            </defs>
          </svg>
          <span>{t("rightSidebar.editThisPage")}</span>
        </a>
      </li>
    )
  }
  {
    CONFIG.COMMUNITY_INVITE_URL && (
      <li class={`header-link depth-2`}>
        <a href={CONFIG.COMMUNITY_INVITE_URL} target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M6.03107 12.2035L3.70244 13.5527C3.37028 13.745 2.98975 13.8569 2.60584 13.8735V13.8658H2.50584C1.1761 13.8658 0.102539 12.7828 0.102539 11.4625V4.79362C0.102539 2.55325 1.92824 0.728294 4.16811 0.737949H10.837C13.0773 0.737949 14.9025 2.56323 14.9025 4.80352V8.13795C14.9025 10.3782 13.0773 12.2035 10.837 12.2035H6.03107ZM2.50584 12.4035C2.67277 12.4035 2.82745 12.3588 2.96881 12.2827L5.47338 10.8375C5.5889 10.7755 5.71084 10.7412 5.84027 10.7412H10.8469C12.2876 10.7412 13.4502 9.56825 13.4502 8.13795V4.80352C13.4502 3.36281 12.2772 2.20022 10.8469 2.20022H4.178C2.73729 2.20022 1.5747 3.37322 1.5747 4.80352V11.4724C1.5747 11.9828 1.99546 12.4035 2.50584 12.4035Z"
              fill="currentColor"
            />
            <path
              d="M4.16805 7.29687C4.62707 7.29687 4.99918 6.92476 4.99918 6.46573C4.99918 6.00671 4.62707 5.6346 4.16805 5.6346C3.70903 5.6346 3.33691 6.00671 3.33691 6.46573C3.33691 6.92476 3.70903 7.29687 4.16805 7.29687Z"
              fill="currentColor"
            />
            <path
              d="M7.51278 7.29687C7.9718 7.29687 8.34391 6.92476 8.34391 6.46573C8.34391 6.00671 7.9718 5.6346 7.51278 5.6346C7.05375 5.6346 6.68164 6.00671 6.68164 6.46573C6.68164 6.92476 7.05375 7.29687 7.51278 7.29687Z"
              fill="currentColor"
            />
            <path
              d="M10.8468 7.29687C11.3058 7.29687 11.6779 6.92476 11.6779 6.46573C11.6779 6.00671 11.3058 5.6346 10.8468 5.6346C10.3877 5.6346 10.0156 6.00671 10.0156 6.46573C10.0156 6.92476 10.3877 7.29687 10.8468 7.29687Z"
              fill="currentColor"
            />
          </svg>
          <span>{t("rightSidebar.joinOurCommunity")}</span>
        </a>
      </li>
    )
  }
</ul>

<style>
  .edit-on-github {
    text-decoration: none;
    font: inherit;
    color: inherit;
    font-size: 1rem;
  }
</style>
