---
import i18next, { t } from "i18next"
import TableOfContents from "./TableOfContents"
import MoreMenu from "./MoreMenu.astro"
import { Feedback } from "../PageContent/Feedback"
const { content, githubEditUrl, headings, clientSideToc } = Astro.props
---

<nav class="sidebar-nav" aria-labelledby="grid-right">
  <div class="sidebar-nav-inner">
    <div>
      <TableOfContents client:media="(min-width: 50em)" headers={headings} clientSideToc={clientSideToc} />
    </div>
    <div>
      <MoreMenu editHref={githubEditUrl} />
    </div>

    <div>
      <h2 class="heading feedback-title">{t("rightSidebar.feedback")}</h2>
      <div class="feedback-wrapper">
        <Feedback client:idle />
      </div>
    </div>
  </div>
</nav>

<style>
  .feedback-wrapper {
    @apply pl-4 mt-2;
  }
  .sidebar-nav {
    width: 100%;
    position: sticky;
    top: 0;
  }
  .feedback-title {
    @apply !mb-6;
  }
  .sidebar-nav-inner {
    padding: 16px 20px 70px 4px;
    overflow: auto;
    background: #fff8f3;
    border-radius: 1em;
    float: right;
    width: 280px;
    /* width: 250px; */
    max-height: 100%;
    /* @apply pt-doc; */
  }
  .sidebar-nav-inner > * {
    margin-top: 1rem;
  }
  .sidebar-nav-inner > *:first-child {
    margin-top: 0;
  }

  .sidebar-nav-inner h2 {
    @apply m-0 mt-4;
  }
</style>
