.productCardGrid {
  display: grid;
  grid-template-columns: 1fr;
  @apply gap-4;
}

@media (min-width: 50em) {
  .productCardGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.cardTitle {
  font-size: 1rem;
  margin-top: 1rem;
}

.clSection {
  text-align: center;
}
.clSectionCards {
  text-align: center;
  @apply my-4 mx-0;
}
.clProductCard {
  text-align: center;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 150px;
  height: 190px;
  transition: all 0.2s;
  @apply p-8 bg-white;
}
.clProductCard:hover {
  transform: translateY(-4px);
  @apply bg-blue-100;
}
.clProductCard h5 {
  margin: 0;
}
.clProductCard img {
  max-width: 48px;
}
