.primary,
.secondary {
  @apply rounded-primary border-w-secondary font-medium py-2 px-6;
  composes: paragraph-100 from global;
  appearance: none;
  border-style: solid;
  display: inline-block;
  /*
  * In the design guide the border (2px in this case) is on the inside and it is not accounted towards the total height of the component.
  * In order to make up for this and avoid having a larger button, this line-height was reduced by 4px.
  */
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.primary:focus,
.secondary:focus {
  outline: 0;
  box-shadow: 0px 0px 0px 4px var(--color-border-interactive-focus), 0px 12px 32px -12px rgba(12, 22, 44, 0.32);
}

.primary:disabled,
.secondary:disabled {
  cursor: not-allowed;
  outline: 0;
  box-shadow: none;
}

.primary {
  @apply text-white bg-blue-600 border-blue-600;
}

.primary:active {
  @apply border-gray-900 bg-gray-900;
}

.primary:focus {
  @apply border-gray-900 bg-gray-800;
}

.primary:hover {
  @apply border-gray-900 bg-gray-800;
}

.primary:disabled {
  @apply border-gray-200 bg-gray-200 text-gray-500;
}

.secondary {
  @apply text-blue-600 bg-white border-blue-600;
}

.secondary:active {
  @apply text-gray-900 bg-blue-100 border-gray-600;
}

.secondary:focus {
  @apply border-blue-800 bg-white;
}

.secondary:hover {
  @apply border-blue-800 bg-blue-100 text-blue-800;
}

.secondary:disabled {
  @apply border-gray-300 bg-white text-gray-300;
}

.tertiary {
  @apply gap-1 font-medium text-link py-3 px-0  decoration-secondary;
  composes: paragraph-100 from global;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  line-height: 1rem;
  text-decoration: underline;
  text-underline-position: under;
}

.tertiary svg {
  @apply text-link;
}

.tertiary:active,
.tertiary:active svg {
  @apply text-link-pressed;
}
.tertiary:focus,
.tertiary:focus svg {
  @apply decoration-4 text-link-hover;
}
.tertiary:hover,
.tertiary:hover svg {
  @apply text-link-hover;
}
.tertiary:disabled,
.tertiary:disabled svg {
  @apply text-disabled;
}

.reset {
  background: transparent;
  border: none;
  @apply rounded-primary;
}

.reset:focus-visible {
  outline-offset: var(--border-width-secondary);
  outline: var(--border-width-primary) solid var(--blue-600);
}

.tag {
  @apply text-start bg-blue-200 rounded-primary py-1 px-2 text-blue-600 border-w-primary border-solid border-transparent;
}

.tag:focus-visible,
.tag:hover {
  @apply bg-transparent border-w-primary border-solid border-blue-300;
}

.tag:active {
  @apply text-blue-200 bg-blue-800;
}
