.container {
  composes: container from global;
  @apply mt-6;
}

.container p {
  max-width: 640px;
  margin-bottom: 0;
  @apply text-gray-700;
}

.container button,
.container a {
  width: 100%;
  @apply mt-4;
}

.container > p + a,
.container > p + button {
  @apply mt-6;
}

.container h1 > img {
  @apply mr-2 h-6 w-6;
}

.container h1 button {
  @apply mt-6;
}

.container h1 a {
  letter-spacing: normal;
}

.container p a {
  text-decoration: none;
  @apply text-blue-600;
}

@media screen and (min-width: 768px) {
  .container {
    @apply mt-12;
  }
  .container h1 {
    display: flex;
    align-items: center;
  }

  .container h1 button,
  .container h1 a,
  .container h1 > div {
    margin-left: auto;
    margin-top: 0;
  }

  .container a,
  .container button {
    width: auto;
  }

  .container > p + a,
  .container > p + button {
    @apply mx-4;
  }
}
