/*
** DEPRECATED: This temporary component is to be removed when HexAddress is refactored
*/
.value-large span {
  font-size: 1rem;
  @apply text-value;
}
.value span {
  @apply text-value;
}

.link-large a {
  font-size: 1rem;
  display: block;
}
