.copy-code-button-wrapper {
  margin-top: -7px !important;
  margin-right: 4px !important;
  display: flex;
  z-index: 999;
  justify-content: flex-end;
  position: absolute;
  transform: translateY(5px);
  right: 0;
  @apply pt-2 pr-2 pb-0 pl-0;
}

.copy-code-button-wrapper > button {
  display: flex;
  border-radius: 50%;
  padding: 11px;
}

.copy-code-button-wrapper > button > img {
  width: 16px;
  height: 16px;
}
