.copy-code-button-wrapper {
  padding: var(--space-2x) var(--space-2x) var(--space-0x) var(--space-0x);
  margin-top: 0 !important;
  display: flex;
  z-index: 999;
  justify-content: flex-end;
  position: absolute;
  transform: translateY(5px);
  right: 0;
}

.copy-code-button-wrapper > button {
  padding: var(--space-1x);
  display: flex;
}

.copy-code-button-wrapper > button > img {
  width: 16px;
  height: 16px;
}
