/* Starter file. Has to be replaced with styles from design-system */

@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

/* Global focus outline reset */
*:focus:not(:focus-visible) {
  outline: none;
}

:root {
  --user-font-scale: 1rem - 16px;
  --max-width: calc(100%);
  --fullwidth-max-width: calc(100% - 1rem);
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

.content > section > * + * {
  margin-top: 1.25rem;
  margin-bottom: 2.25rem;
}

.content > section > :first-child {
  margin-top: 0;
}

.content :is(ul, ol) {
  line-height: 1.4em;
  margin-bottom: 0.7em;
  margin-bottom: 16px;
}

.content :is(ul, ol) > li > :is(ul, ol) {
  margin-top: 0.5rem;
}

:where(a) {
  text-decoration: none;
  align-items: center;
  gap: 0.3rem;
  @apply text-link tracking-[0.18px];
}

:where(a:hover) {
  @apply text-link-hover;
}

:where(a:focus) {
  @apply text-link-pressed;
}

article > section :is(ul, ol) > * + * {
  margin-top: 0.75rem;
}

article > section nav :is(ul, ol) > * + * {
  margin-top: inherit;
}

article > section li > :is(p, pre, blockquote):not(:first-child) {
  margin-top: 1rem;
}

article > section :is(ul) {
  padding-left: 1.2em;
}

article > section :is(ul) p {
  margin-bottom: 0 !important;
}

article > section :is(ol) {
  padding-left: 2em;
}

article > section nav :is(ul, ol) {
  padding-left: inherit;
}

article > section nav {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

article > section ::marker {
  font-weight: bold;
  @apply text-marker;
}

.dark article > section ::marker {
  @apply text-dark-marker;
}

article > section iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.main-section {
  position: relative;
}

.main-section .remix-callout {
  margin-top: 30px;
}

.main-section :is(p) {
  /* Override styles from design-system */
  margin: 0 0 16px;
  max-width: 100%;
  line-height: 1.6em;
}

.main-section :is(h2, h3, h4) {
  /* Override styles from design-system */
  margin-top: 36px;
  margin-bottom: 24px;
  max-width: 100%;
}

a > code::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  border-radius: var(--border-radius);
  /* @apply bg-accent opacity-accent; */
}

a:focus {
  outline: 2px solid currentColor;
  outline-offset: 0.25em;
}

strong {
  font-weight: 600;
  color: inherit;
}

/* Supporting Content */

/* pre > code {
  background-color: transparent;
} */
:not(pre) > code {
  --border-radius: 3px;
  --padding-block: 0.1rem;
  --padding-inline: 0.33rem;
  font-size: 0.85em;
  padding: var(--padding-block) var(--padding-inline);
  margin: 0.125em;
  border-radius: var(--border-radius);
  word-break: break-word;
  @apply font-mono text-code bg-code dark:text-dark-code dark:bg-dark-code;
}

a > code {
  position: relative;
  @apply text-link-code dark:text-link-code bg-link-code dark:bg-link-dark-code;
}

pre.astro-code > code {
  all: unset;
}

pre > code {
  font-size: 1em;
}

table,
pre {
  position: relative;
  --padding-block: 1rem;
  --padding-inline: 2rem;
  padding: var(--padding-block) var(--padding-inline);
  padding-right: calc(var(--padding-inline) * 2);
  margin-left: calc(var(--padding-inline) * -1);
  margin-right: calc(var(--padding-inline) * -1);

  line-height: 1.5;
  font-size: 0.85em;
  overflow-y: hidden;
  overflow-x: auto;
  @apply font-mono;
}

table {
  width: 100%;
  border-radius: 27px;
  padding: var(--padding-block) 0;
  margin: 0;
  border-collapse: collapse;
  line-height: 2;
  @apply text-black dark:text-white-800 font-text border-none bg-pure-white dark:bg-black;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

table::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 27px;
  border: 1px solid #dadada;
  @apply border-primary dark:border-dark-primary;
}

table thead tr {
  line-height: 2.2;
  @apply font-text font-medium text-heading;
}

table tbody tr {
  @apply border-0 border-t-[1px] border-solid border-primary dark:border-dark-primary;
}

table code {
  word-break: keep-all;
}

th {
  font-weight: bold;
  @apply text-black dark:text-white-800;
}

td,
th {
  padding: 8px 30px;
  text-align: left;
  font-size: 16px;
}

pre {
  @apply text-code-text bg-code-bg;
}

blockquote code {
  @apply bg-bg;
}

blockquote {
  margin: 2rem 0;
  padding: 20px 1.5rem 4px;
  border-radius: 0 0.25rem 0.25rem 0;
  line-height: 1.7;
  @apply border-0 border-l-[29px] border-solid border-[#FFF0DD] dark:border-[#3b3b3b] bg-white dark:bg-dark-normal;
  border-radius: 27px;
}

blockquote h4 {
  margin-top: 0 !important;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
  /* align-items: center; */
}

h2.heading {
  font-size: 18px;
  font-weight: 700 !important;
  padding: 0.1rem 0rem;
  /* margin-top: 30px; */
  margin-bottom: 16px;
  font-family: var(--font-family-body-text);
}

.header-link {
  font-size: 16px;
  line-height: normal;
  padding: 4.5px 0 5.5px 1rem;
  /* margin-left: 1rem; */
  /* border-color: var(--black-100); */

  @apply border-0 border-l-[4px] border-solid border-black dark:border-white-800;
}

.header-link.active,
.header-link:hover,
.header-link:focus {
  border-color: var(--orange-500);
  color: var(--orange-500);
}

.header-link:focus-within {
  border-left-color: hsla(var(--color-gray-40), 1);
  @apply text-light;
}

.header-link:hover svg {
  color: var(--orange-500);
}

.header-link:hover span {
  color: var(--orange-500);
}

.header-link a {
  display: inline-flex;
  gap: 0.5em;
  width: 100%;
  padding: 0.15em 0 0.15em 0;
}

.header-link.depth-3 {
  padding-left: 2rem;
}

.header-link.depth-4 {
  padding-left: 3rem;
}

.header-link a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

.header-link a span {
  font-size: 16px;
  line-height: normal;
}

/* Screenreader Only Text */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.focus\:not-sr-only:focus,
.focus\:not-sr-only:focus-visible {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

:target {
  scroll-margin: calc(var(--theme-sidebar-offset, 5rem) + 2rem) 0 2rem;
}

@media (min-width: 37.75em) {
  pre {
    --padding-inline: 1.25rem;
    border-radius: 8px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 50em) {
  :root {
    --max-width: 46em;
    --fullwidth-max-width: 80rem;
  }

  .header-link {
    margin-left: 1rem;
  }

  h2.heading {
    font-size: 16px;
    padding: 0.1rem 1rem;
  }
}

:is(h1, h2, h3):hover .icon-link {
  background: url(/images/link.svg) no-repeat;
  background-size: cover;
  width: var(--space-4x);
  height: var(--space-4x);
  display: inline-block;
  margin-left: var(--space-2x);
}

.mermaid-diagram > img {
  height: auto;
}
