code[data-language],
pre[data-language] {
  color: #a9b7c6;
  font-family: var(--font-family-code);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code,
code[data-language] *,
pre[data-language] * {
  font-family: var(--font-family-code) !important;
  font-size: 16px;
}

pre[data-language]::-moz-selection,
pre[data-language] ::-moz-selection,
code[data-language]::-moz-selection,
code[data-language] ::-moz-selection {
  color: inherit;
  background: rgba(33, 66, 131, 0.85);
}

/* Code blocks */
pre[data-language] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  margin-top: 1.4em;
  margin-bottom: 2.2em;
}

:not(pre) > code[data-language],
pre[data-language] {
  background: #2b2b2b;
  border-radius: 27px;
  padding: 17px;
  padding-right: 70px;
}

/* Inline code */
:not(pre) > code[data-language] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.frame {
  overflow: hidden;
}

.expressive-code pre,
.expressive-code code {
  font-size: 16px !important;
}

.expressive-code.has-focused-lines .ec-line:not(.highlight) .code {
  opacity: 0.7;
  transition: filter 0.35s, opacity 0.35s;
  filter: blur(0.095rem);
}

.expressive-code.has-focused-lines:hover .ec-line .code {
  opacity: 1;
  filter: none;
}

.expressive-code.has-focused-lines .ec-line.mark.highlight {
  background: transparent;
}

.expressive-code div.copy button {
  border-radius: 50%;
}

div.expressive-code pre::-webkit-scrollbar {
  height: 0;
}

.expressive-code .ec-line div.code {
  border-inline-start: unset;
}
