.container {
  position: relative;
  width: 684px;
}
.searchInput {
  display: flex;
  box-sizing: border-box;
  padding: 8px 22px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  height: 55px;
  border-radius: 27.5px;
  font-style: italic;
  background: var(--white);
}

.searchInput img {
  width: 22px;
}

@media screen and (max-width: 50em) {
  .container {
    width: 100%;
  }
  .searchInput {
    width: 100%;
    height: 48px;
    padding: 8px 20px;
    border-spacing: 24px;
  }
  .searchInput img {
    width: 20px;
  }
}
