---
import i18next, { changeLanguage } from "i18next"
import HomeLayout from "../layouts/HomeLayout.astro"

// Should load last used language.
changeLanguage(i18next.language)
---

<HomeLayout>
  <div class="wrapper">
    <h2 class="highlight">404</h2>
    <h2 class="heading-600">Page not found</h2>
    <p>We're sorry, but we couldn't find the page you were looking for.</p>
  </div>
</HomeLayout>

<style>
  .highlight {
    font-size: 96px;
    @apply text-link;
  }
  .wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    margin-top: 10vh;
    @apply py-16 px-4;
  }
</style>
