---
import i18next, { changeLanguage, t } from "i18next"
import HomeLayout from "../layouts/HomeLayout.astro"

// Should load last used language.
changeLanguage(i18next.language)
---

<HomeLayout>
  <div class="wrapper">
    <h2 class="highlight">404</h2>
    <h2 class="heading-600">{t("pageNotFound.title")}</h2>
    <p>{t("pageNotFound.text")}</p>
  </div>
</HomeLayout>

<style>
  .highlight {
    font-size: 96px;
    @apply text-link;
  }
  .wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    margin-top: 10vh;
    @apply py-16 px-4;
  }
</style>
