---
import i18next, { t } from "i18next"
import NextSvg from "~/assets/svgs/main/next.svg?raw"
export type Props = { content: Record<string, string> }
const { content = {} } = Astro.props as Props
---

<section>
  <h4>{t("ui.whatsNext")}</h4>
  <ul class="whats-next">
    {
      Object.keys(content).map((key) => (
        <li>
          <a href={content[key]}>
            <>
              <Fragment set:html={NextSvg} />
              {key}
            </>
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .content {
    padding: 0;
    /* max-width: 75ch; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .content > section {
    margin-bottom: 4rem;
  }

  .block {
    display: block;
  }

  @media (min-width: 50em) {
    .sm\:hidden {
      display: none;
    }
  }

  .whats-next {
    padding: 0;
    @apply border-[1px] border-solid border-primary dark:border-dark-primary overflow-hidden;
    border-radius: 10px;
  }
  .whats-next li:first-child {
    border-top: 0;
  }
  .whats-next li {
    list-style: none;
    margin: 0;
    @apply border-0 border-t-[1px] border-solid border-primary dark:border-dark-primary;
  }
  .whats-next li a {
    width: 100%;
    display: inline-flex;
    padding: 16px 20px;
    gap: 8px;
  }
  .whats-next li a:hover {
    @apply bg-white dark:bg-dark-normal;
  }
</style>
