main {
  margin-bottom: var(--main-margin-bottom);
}

.container {
  margin-left: var(--container-margin);
  margin-right: var(--container-margin);
}

:where(.card) {
  padding: var(--space-6x);
  border: var(--border-width-primary) solid var(--color-border-primary);
  background-color: var(--color-background-primary);
  border-radius: var(--border-radius-primary);
}

@media screen and (min-width: 992px) {
  .container {
    max-width: min(calc(1440px - 2 * var(--space-16x)), calc(100% - 2 * var(--space-16x)));
  }
}
