---
import * as CONFIG from "../../config"
import { Frontmatter, MENU } from "../../config/index"
import SkipToContent from "./SkipToContent.astro"
import SidebarToggle from "./SidebarToggle.tsx"
import Search from "./Search/Search.tsx"
// import LanguageSelector from "./LanguageSelector/index.tsx"
import LanguageSelector from "./LanguageSelector/LanguageSelector.astro"

import { localizePath } from "astro-i18next"
import i18next from "i18next"

import NotificationBanner from "~/features/notifications/components/NotificationBanner.astro"

export type Props = {
  frontmatter?: Frontmatter
  dark?: boolean
}
const { frontmatter, dark } = Astro.props

const backgroundColor = dark ? "#101010" : "#ffffff"

const textColor = dark ? "#FFF8F3" : "#101010"

const section = frontmatter?.section ?? ""
---

<!-- Google Tag Manager (noscript) --><!-- <noscript></noscript><iframe
  src="https://www.googletagmanager.com/ns.html?id=GTM-N6DQ47T"
  height="0"
  width="0"
  style="display:none;visibility:hidden"></iframe> --><!-- End Google Tag Manager (noscript) --><!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-56SBDN1LL2"></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag(...args) {
    window.dataLayer.push(args)
  }
  gtag("js", new Date())

  gtag("config", "G-56SBDN1LL2")
</script>
<header>
  <SkipToContent />
  <nav class="nav-wrapper" title="Top Navigation">
    <div class="logo flex items-center">
      <a href={localizePath("/")}>
        <img
          src={dark ? "/scroll-docs-white.svg" : "/scroll-docs.svg"}
          style={{ width: "144px" }}
          alt={CONFIG.SITE.title ?? "Documentation"}
        />
      </a>
    </div>
    <div class="right-box">
      <div class="navbar">
        {
          MENU[i18next.language].map((link) => (
            <a class="nav-link" href={link.link} aria-current={link.section === section}>
              {link.text}
            </a>
          ))
        }
      </div>
      <div class="tools">
        {
          CONFIG.ALGOLIA && (
            <div class="search-item">
              <Search client:visible />
            </div>
          )
        }

        <LanguageSelector class="language-selector" />
        <a href="https://github.com/scroll-tech/scroll-documentation" class="github-url" target="_blank" rel="nofollow">
          <img src={dark ? "/assets/github-white.svg" : "/assets/github.svg"} />
        </a>
      </div>
      <div class="menu-toggle">
        <SidebarToggle client:idle dark={dark} />
      </div>
    </div>
  </nav>
</header>
<NotificationBanner />

<style define:vars={{ backgroundColor, textColor }}>
  /* Basic Styles */
  header {
    z-index: 1000;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background: var(--backgroundColor);
    @apply h-navbar;
    /* @apply dark:bg-primary; */
  }

  .nav-link {
    line-height: 32px;
    padding-top: 7px;
    color: var(--textColor);
  }
  .nav-link:hover {
    @apply text-link;
  }

  .logo {
    display: flex;
    overflow: hidden;
    height: 40px;
    font-size: 2rem;
    flex-shrink: 0;
    font-weight: 600;
    line-height: 1;
    color: hsla(var(--color-base-white), 100%, 1);
    gap: 0.25em;
  }

  .logo a {
    display: flex;
    padding: 0.5em 0.25em;
    margin: -0.5em -0.25em;
    text-decoration: none;
    font-weight: bold;
    transition: color 100ms ease-out;
    @apply text-text;
  }
  .logo a:hover,
  .logo a:focus {
    @apply text-accent;
  }
  .logo h1 {
    display: none;
    font: inherit;
    color: inherit;
    margin: 0;
  }

  .logo img {
    height: 38px;
  }

  .nav-wrapper {
    display: grid;
    grid-template-columns: 4fr 5fr;
    gap: 1.5em;
    width: 100%;
    margin: 0 1.25rem;
  }

  .spacer,
  .github-url,
  .navbar {
    display: none;
  }

  .right-box {
    display: flex;
    justify-content: space-between;
  }

  .tools {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .search-item {
    display: flex;
    position: relative;
    z-index: 10;
  }

  /* Media Queries */
  @media (min-width: 50em) {
    .logo {
      width: 183px;
    }
    .nav-wrapper {
      grid-template-columns: 1fr 3fr;
    }
    .spacer,
    .logo h1 {
      display: initial;
    }
    header {
      position: static;
    }
    .logo {
      margin: 0;
    }
    .menu-toggle {
      display: none;
    }
    .navbar {
      display: flex;
      gap: 45px;
      justify-content: center;
    }
    .navbar a[aria-current="true"] {
      font-weight: 600;
      @apply border-0 border-solid border-link;
    }
    .tools {
      width: unset;
      flex-direction: row;
    }
    .github-url {
      width: 35px;
      display: flex;
    }
  }

  @media (min-width: 72em) {
    .nav-wrapper {
      grid-template-columns: minmax(230px, 1fr) 5fr;
    }
  }
</style>
