.button {
  background: transparent;
  border: 0;
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  /* width: 23px; */
  padding: 12px 0 0 20px;
}

.dark {
  color: #fff8f3;
}
