---
import alertIcon from "./Alert/Assets/alert-icon.svg?raw"
import infoIcon from "./Alert/Assets/info-icon.svg?raw"
import dangerIcon from "./Alert/Assets/danger-icon.svg?raw"
import tipIcon from "./Alert/Assets/tip-icon.svg?raw"
export type Props = {
  type?: "note" | "tip" | "caution" | "danger"
  title?: string
}

const { type = "note", title } = Astro.props as Props

// SVG icon paths based on GitHub Octicons
const icons = {
  note: infoIcon,
  tip: tipIcon,
  caution: alertIcon,
  danger: dangerIcon,
}
---

<aside class={`content ${type}`} aria-label={title}>
  <div class="icon">
    <span class="inline-block w-[1.5rem] h-[1.5rem] text-black dark:text-white-800">
      <Fragment set:html={icons[type]} />
    </span>
  </div>
  <section class="asideContent">
    {
      title && (
        <p class="title heading-100" aria-hidden="true">
          {title}
        </p>
      )
    }
    <slot />
  </section>
</aside>

<style>
  aside {
    /* Indicates the aside boundaries for forced colors users, transparent is changed to a solid color */
    outline: 1px solid transparent;

    /* display: flex; */
    @apply p-[30px] gap-4 rounded-[27px] text-info mb-[1rem] bg-callout-note dark:bg-callout-dark-note;
  }

  aside p.title {
    font-weight: bold;
    font-size: 16px;
  }

  aside p {
    @apply text-info;
  }

  .icon {
    flex-shrink: 0;
    width: 1.5em;
    margin-bottom: 10px;
  }
  .icon svg {
    vertical-align: middle;
    fill: currentcolor;
  }

  aside :global(a),
  aside :global(a > code:not([class*="language"])) {
    @apply text-link underline;
  }

  aside :global(p),
  aside.content :global(ul) {
    @apply text-text;
  }

  :global(.theme-dark) aside :global(code:not([class*="language"])) {
    @apply text-code-text;
  }

  aside :global(pre) {
    margin-left: 0;
    margin-right: 0;
  }

  .tip {
    @apply bg-callout-tip dark:bg-callout-dark-tip;
  }

  .caution {
    @apply bg-callout-caution dark:bg-callout-dark-caution;
  }

  .danger {
    @apply bg-callout-danger dark:bg-callout-dark-danger;
  }

  .note {
    @apply bg-callout-note dark:bg-callout-dark-note;
  }

  .asideContent :global(p) {
    margin-bottom: 0 !important;
    font-size: 16px;
    line-height: 25px;
  }

  .asideContent :global(p + p) {
    @apply mt-2;
  }
</style>
