---
import i18next, { t } from "i18next"
export type Props = {
  icon: string
  name: string
  content: string
  link: string
}
const { icon, name, content, link } = Astro.props as Props

/**
 * This component adds the classNames required by the scripts/click-to-zoom.ts script.
 */
---

<div class="navs-item">
  <span style={{ background: `url(${icon}) center no-repeat` }} class="navs-item-icon"></span>
  <span class="navs-item-title">{name}</span>
  <span class="navs-item-content">{content}</span>
  <a class="navs-item-link" href={link}>
    {t("ui.readMore")}
    <span class="link-icon"></span>
  </a>
</div>

<style>
  .navs-item {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-top: 100px;
  }

  .navs-item-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
  }
  .navs-item-title {
    font-size: 22px;
    font-weight: 600;
  }
  .navs-item-content {
    font-size: 20px;
    line-height: normal;
    height: 84px;
  }
  .navs-item-link {
    width: 123px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 16px;
    text-decoration: 1px underline;
    text-underline-offset: 2px;
    color: #c58d49;
    background-color: #fff0dd;
  }
  .navs-item-link:hover {
    background-color: #ffdeb5;
  }

  .link-icon {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 2px;
    background: url(/svgs/home-link.svg) center no-repeat;
  }

  @media screen and (max-width: 50em) {
    .navs-item {
      align-items: center;
      gap: 8px;
      width: 260px;
    }
    .navs-item-title {
      font-size: 20px;
      line-height: normal;
    }
    .navs-item-content {
      text-align: center;
      height: auto;
    }
    .navs-item-link {
      margin-top: 14px;
    }
  }
</style>
