---
export type Props = {
  anchor: string
}
const { anchor = "" } = Astro.props as Props
const anchorHash = anchor.replace(/\s+/g, "-")
---

<details id={anchorHash}>
  <summary
    class="before:content-[''] before:bg-[url('/svgs/summary-icon.svg')] dark:before:bg-[url('/svgs/summary-icon-white.svg')]"
  >
    <div>
      <slot name="title" />
    </div>
  </summary>
  <div>
    <slot />
  </div>
</details>

<script define:vars={{ anchorHash }}>
  const detailsElement = document.getElementById(anchorHash)
  detailsElement.onclick = () => {
    const hash = window.location.hash
    if (hash === `#${anchorHash}`) {
      history.replaceState(null, null, window.location.pathname)
    } else {
      history.replaceState(null, null, `#${anchorHash}`)
    }
  }
  const checkHash = () => {
    if (window.location.hash === `#${anchorHash}`) {
      detailsElement.open = true
    } else {
      detailsElement.open = false
    }
  }
  window.addEventListener("hashchange", checkHash)

  // Automatically open if hash is present in the URL
  checkHash()
</script>

<style>
  details {
    margin-bottom: 1rem;
    border-radius: 27px;
    border: 1px solid #dadada;
    overflow: hidden;
    font-weight: 600;
    padding-left: 0.3rem;
    @apply text-black dark:text-white-800 border-primary dark:border-dark-primary;
  }

  details:hover {
    /* border-color: var(--color-text-link); */
  }

  summary {
    cursor: pointer;
    padding: 14px 16px;
    display: flex;
    align-items: center;
  }

  a {
    visibility: hidden;
    font-weight: 500;
  }

  summary:hover a {
    visibility: visible;
  }

  summary div {
    padding: 0;
    flex: 1;
  }

  div {
    padding: 0rem 1rem 1rem 2.6rem;
  }

  div :global(.copy-code-button-wrapper) {
    padding-right: 1.5rem;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary::before {
    display: inline-block;
    font-size: 0.75em;
    transform: rotate(-90deg);
    transition: transform 0.25s ease-in-out;
    margin-right: 1rem;
    height: 10px;
    width: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  details[open] summary::before {
    transform: rotate(0deg);
  }
</style>
