---
export type Props = {
  anchor: string
}
const { anchor = "" } = Astro.props as Props
const anchorHash = anchor.replace(/\s+/g, "-")
---

<details id={anchorHash}>
  <summary>
    <div>
      <slot name="title" />
    </div>
    <a href={`#${anchorHash}`} dir="auto" aria-label={anchor}></a>
  </summary>
  <div>
    <slot />
  </div>
</details>

<script define:vars={{ anchorHash }}>
  const detailsElement = document.getElementById(anchorHash)
  const checkHash = () => {
    if (window.location.hash === `#${anchorHash}`) {
      detailsElement.open = true
    } else {
      detailsElement.open = false
    }
  }
  window.addEventListener("hashchange", checkHash)

  // Automatically open if hash is present in the URL
  checkHash()
</script>

<style>
  details {
    margin-bottom: 1rem;
    border-radius: 27px;
    border: 1px solid #dadada;
    overflow: hidden;
    color: var(--color-text-primary);
    font-weight: 600;
    padding-left: 0.3rem;
  }

  details:hover {
    /* border-color: var(--color-text-link); */
  }

  summary {
    cursor: pointer;
    padding: 14px 16px;
    display: flex;
    align-items: center;
  }

  a {
    visibility: hidden;
    font-weight: 500;
  }

  summary:hover a {
    visibility: visible;
  }

  summary div {
    padding: 0;
    flex: 1;
  }

  div {
    padding: 0rem 1rem 1rem 2.6rem;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary::before {
    content: "";
    display: inline-block;
    font-size: 0.75em;
    transform: rotate(-90deg);
    transition: transform 0.25s ease-in-out;
    margin-right: 1rem;
    height: 10px;
    width: 10px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGlkPSJWZWN0b3IiIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNC45OTk3NiA2QzQuNzY4MSA2IDQuNTUwMjkgNS45MDc3NCA0LjM4NjQ0IDUuNzQwMTlMMC4yNTM0NTEgMS41MTM4N0MtMC4wODQ0ODM2IDEuMTY4MDIgLTAuMDg0NDgzNiAwLjYwNTY2IDAuMjUzNDUxIDAuMjU5ODExQzAuNDE3Mjk4IDAuMDkyMjY0MiAwLjYzNTExNSAwIDAuODY2NzcgMEMxLjA5ODQzIDAgMS4zMTYyNCAwLjA5MjI2NDIgMS40ODAwOSAwLjI1OTgxMUw1LjAwMDAzIDMuODU5MjVMOC41MTk3IDAuMjU5ODExQzguNjgzNTUgMC4wOTIyNjQyIDguOTAxMzcgMCA5LjEzMzAyIDBDOS4zNjQ2OCAwIDkuNTgyNDkgMC4wOTIyNjQyIDkuNzQ2MzQgMC4yNTk4MTFDMTAuMDg0NiAwLjYwNTY2IDEwLjA4NDYgMS4xNjgzIDkuNzQ2MzQgMS41MTM4N0w1LjYxMzM1IDUuNzQwMTlDNS40NDk1MSA1LjkwNzc0IDUuMjMxNjkgNiA1LjAwMDAzIDZINC45OTk3NloiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=)
      center / contain no-repeat;
  }
  details[open] summary::before {
    transform: rotate(0deg);
  }
</style>
