/* Path: src/components/Footer/Subscribe/Subscribe.module.css */
.container {
  position: relative;
  display: inline-block;
  height: 48px;
  width: 100%;
  max-width: 448px;
}

.mask {
  width: 48px;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  z-index: 1;
  top: 0;
  display: flex;
  transition: width 0.5s ease;
  overflow: hidden;
  cursor: default;
  @apply bg-black;
}

.iconButton {
  width: 54px;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  font-size: 15px;
  padding: 8px;
  border-radius: 50%;
  overflow: visible;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  @apply text-white;
}

.iconButton img {
  width: 21px;
  height: 16px;
}

.success {
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  border-left: none;
  text-align: center;
  flex: 1;
  line-height: 54px;
  @apply text-white  bg-black;
}

.inputBase {
  font-size: 16px;
  font-weight: 600;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #000;
  border-left: none;
  text-align: center;
  @apply text-black bg-pure-white border-black;
}

@media (min-width: 50em) {
  .container {
    height: 54px;
  }

  .mask {
    width: 54px;
  }

  .iconButton {
    width: 54px;
  }

  .iconButton img {
    width: 21px;
    height: 16px;
  }

  .success {
    font-size: 20px;
  }

  .inputBase {
    font-size: 20px;
  }
}
