:root {
  --blue-100: #f5f7fd;
  --blue-200: #dfe7fb;
  --blue-300: #abbde9;
  --blue-400: #8ca5e1;
  --blue-500: #4771d1;
  --blue-600: #375bd2;
  --blue-700: #0043c3;
  --blue-800: #1a2b6b;
  --blue-900: #021642;
  --gray-100: #fafafb;
  --gray-200: #ecedef;
  --gray-300: #ced0d5;
  --gray-400: #b7bac0;
  --gray-500: #858a95;
  --gray-600: #6d7380;
  --gray-700: #555c6c;
  --gray-800: #252e42;
  --gray-900: #0c162c;
  --green-100: #f4fcf8;
  --green-200: #d6f4e6;
  --green-300: #56d096;
  --green-400: #2fb96c;
  --green-500: #1d804c;
  --green-600: #176b3f;
  --green-700: #115431;
  --green-800: #083b22;
  --green-900: #042013;
  --white: #ffffff;
  --black: #000000;
  --black-100: #101010;
  --orange-100: #fcf1df;
  --orange-200: #fff8f3;
  --orange-300: #f8a077;
  --orange-400: #ff684b;
  --orange-500: #c58d49;
  --orange-600: #9f421a;
  --orange-700: #7f3514;
  --orange-800: #50210c;
  --orange-900: #2d1306;
  --purple-100: #f9f6fe;
  --purple-200: #f1ecfa;
  --purple-300: #c5b5eb;
  --purple-400: #a78ee1;
  --purple-500: #8260d5;
  --purple-600: #6c4fb6;
  --purple-700: #563f90;
  --purple-800: #37285d;
  --purple-900: #211939;
  --red-100: #fff8f8;
  --red-200: #fde9e9;
  --red-300: #fd9b9d;
  --red-400: #f65152;
  --red-500: #de2624;
  --red-600: #ba201d;
  --red-700: #961817;
  --red-800: #590d0d;
  --red-900: #3a0808;
  --yellow-100: #fffde6;
  --yellow-200: #fcf9c0;
  --yellow-300: #f2d051;
  --yellow-400: #dcb74a;
  --yellow-500: #a78536;
  --yellow-600: #8d6c2d;
  --yellow-700: #5e451d;
  --yellow-800: #3b2812;
  --yellow-900: #211608;
  --beige-100: #fff8f3;
}
