:root {
  --font-family-text: "trans-sans", "circular", Arial, "Helvetica Neue", Helvetica, sans-serif;
  --font-family-code: "Roboto Mono", "Fira Code", "Courier New", monospace, sans-serif;
  --font-family-body-text: "Roboto", "trans-sans", "circular", Arial, "Helvetica Neue", Helvetica, sans-serif;

  /* Font weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
