.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  padding: 0 20px;
  border-radius: 0;
  @apply bg-white;
}

.input {
  margin: 0;
  font-size: 18px;
  width: 100%;
  color: rgb(12, 22, 44);
  outline: none;
  display: block;
  appearance: none;
  background: transparent url(/assets/search.svg) left 0 top 2px / 17px no-repeat;
  flex-grow: 1;
  padding-left: 36px;
  padding-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000;
  height: 50px;
  line-height: 45px;
}

.input::placeholder {
  font-style: italic;
}

.input:focus {
  outline: none;
  border-radius: 0;
}

.closeButton {
  background-color: transparent;
  border: none;
  padding: 0;
  display: none;
  height: 25px;
}

@media (min-width: 50em) {
  .wrapper {
    width: 346px;
    height: 35px;
    border-radius: 40px;
    padding: unset;
  }

  .input {
    font-size: 18px;
    line-height: 15px;
    background: #f6f6f6 url(/assets/search.svg) left 12px top 50% / 17px no-repeat;
    border: none;
    height: 35px;
    line-height: 35px;
    padding-bottom: 0;
    @apply pl-[40px];
  }

  .input:focus {
    @apply rounded-primary;
  }

  .closeButton {
    display: block;
  }

  .closeButtonMobile {
    display: none;
  }
}
