/** Style Algolia */

#searchModal.mini {
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  height: calc(100vh - 65px);
  padding-top: 60px;
  border-radius: 0;
}

#searchModal.large {
  top: 0;
  height: fit-content;
  position: absolute;
  border-radius: 24px;
  padding-top: 0;
  width: 100%;
}

.resultsWrapper {
  padding: 20px 20px 1rem;
  height: calc(100% - 50px);
}

.searchInput {
  position: relative;
  display: none;
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0.62em 12px;
  font-weight: 500;
  font-size: 1rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  align-items: center;
  width: 100%;
  height: 35px;
  border-radius: 40px;
  font-style: italic;

  @apply border-divider text-black gap-2 bg-[#f6f6f6];
}

.searchInputMobile {
  background: transparent;
  border: 0;
  padding: 0;
  display: flex;
}

.searchInputMobile img {
  width: 20px;
}

.searchInput:hover,
.searchInput:focus {
  @apply text-black border-light;
}

.searchInput::placeholder,
.searchInput:hover::placeholder,
.searchInput:focus::placeholder {
  @apply text-placeholder;
}

.searchHint {
  position: absolute;
  top: 7px;
  right: 8px;
  padding: 3px 5px;
  display: none;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.125em;
  font-size: 13px;
  pointer-events: none;
  border: 1px solid;
  border-radius: 0.25rem;
  line-height: 14px;
  @apply font-mono border-lighter text-light;
}

.keyboardHints {
  display: flex;
  gap: 1rem;
}

.keyboardHints > div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.modalDivider {
  height: 1px;
  border: 0;
  margin: var(--space-0x) calc(var(--space-6x) * -1);
  @apply bg-blue-200;
}

.noQueryFallback {
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply my-8 mr-0 ml-2 p-6;
}

.noQueryFallback > div {
  text-align: center;
}

.closeButtonMobile {
  display: block;
  border: 3px solid #ffffff;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  right: -43px;
  box-sizing: content-box;

  @apply bg-pure-white;
}

.hitWrapper ol {
  list-style: none;
}

.hit {
  line-height: 32px;
  display: block;
  @apply mb-2 text-black;
}

.queryResults {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  height: 100%;
  overflow-y: auto;
}

.queryResults h6 {
  font-size: 14px;
  @apply mt-4;
}

.hitList {
  @apply text-secondary;
}

.hitList li {
  list-style: none;
  cursor: pointer;
  @apply pl-2;
}

.hitList li:hover * {
  color: var(--orange-500);
}

.hitList li a {
  line-height: 1.5rem;
  padding-left: 8px;
  font-size: 15px;
}

.hitList mark {
  background-color: transparent;
  font-weight: bold;
  @apply text-inherit;
}

.hideSm {
  display: none;
}

@media (min-width: 50em) {
  .searchInput {
    display: inline-flex;
  }

  .searchInputMobile {
    display: none;
  }

  .searchHint {
    display: flex;
  }

  .container {
    position: relative;
    width: 100%;
  }

  #searchModal.mini {
    top: 0;
    height: fit-content;
    max-height: 80vh;
    position: absolute;
    border-radius: 17.5px;
    padding-top: 0;
    @apply bg-[#f6f6f6];
  }

  #searchModal.large {
    border-radius: 27.5px;
  }

  .queryResults {
    grid-template-columns: 1fr 1fr;
    @apply gap-4;
  }

  .queryResults h6 {
    @apply mt-0;
  }

  .hitWrapper {
    max-height: calc(80vh - 150px);
    overflow-y: auto;
  }

  .hitList li {
    @apply pl-0;
  }

  .resultsWrapper {
    padding: 20px 4px 1rem;
  }

  .modalDivider {
    margin: var(--space-0x) calc(var(--modal-padding) * -1);
  }

  .closeButtonMobile {
    display: none;
  }
}

@media (max-width: 72em) and (min-width: 50em) {
  /* :global(.right-box .tools) {
    display: none;
  } */

  .queryResults {
    grid-template-columns: 1fr !important;
  }
}

@media (max-width: 50em) {
  .resultsWrapper * {
    padding-left: 0 !important;
  }

  .queryResults.large {
    max-height: calc(80vh - 48px);
    height: max-content;
  }
}
