.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  padding: 0 20px;
  border-radius: 0;
}

.wrapper.large {
  height: 48px;
  border-radius: 24px;
}

.input {
  margin: 0;
  font-size: 16px;
  width: 100%;
  outline: none;
  display: block;
  appearance: none;
  background: transparent url(/assets/search.svg) left 0 top 2px / 17px no-repeat;
  flex-grow: 1;
  padding-left: 36px;
  padding-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  height: 50px;
  line-height: 45px;

  @apply text-black border-black;
}
.input.large {
  height: 48px;
  border-bottom: none;
  padding-bottom: 0;
  background: transparent url(/svgs/search.svg) left center no-repeat;
  background-size: 20px auto;
}

.input::placeholder {
  font-style: italic;
}

.input:focus {
  outline: none;
  border-radius: 0;
}

.closeButton {
  background-color: transparent;
  border: none;
  padding: 0;
  display: none;
  height: 25px;
}

@media (min-width: 50em) {
  .wrapper {
    width: 346px;
    height: 35px;
    border-radius: 40px;
    padding: unset;
  }

  .wrapper.large {
    height: 55px;
    border-radius: 27.5px;
    width: 100%;
  }

  .input {
    font-size: 16px;
    line-height: 15px;
    background: url(/assets/search.svg) left 12px top 50% / 17px no-repeat;
    border: none;
    height: 35px;
    line-height: 35px;
    padding-bottom: 0;
    @apply pl-[40px];
  }

  .input.large {
    height: 55px;
    background: transparent url(/svgs/search.svg) left 22px center no-repeat;
    padding-left: 60px;
    padding-right: 22px;
    background-size: 22px auto;
  }

  .input:focus {
    @apply rounded-primary;
  }

  .closeButton {
    display: block;
  }

  .closeButtonMobile {
    display: none;
  }
}
