---
// TODO: Replace all footer elements -- INCLUDING SOCIAL MEDIA ICONS!
---

<footer class="pt-[82px] bg-gray-800 text-base">
  <div class="footer-grid grid pb-16 gap-8 container">
    <nav class="footer-col">
      <h3 class="h3 footer-heading">About Scroll</h3>
      <ul role="list" class="footer-list">
        <li class="footer-list-item">
          <a href="https://scroll.io/" class="footer-list-item-link">Scroll.io</a>
        </li>
        <li class="footer-list-item">
          <a href="https://scroll.io/team" class="footer-list-item-link">Team</a>
        </li>
        <li class="footer-list-item">
          <a href="https://scroll.io/join-us" class="footer-list-item-link">Join Us</a>
        </li>
      </ul>
    </nav>
    <nav class="footer-col">
      <h3 class="h3 footer-heading">Community/Help</h3>
      <ul role="list" class="footer-list">
        <li class="footer-list-item">
          <a href="https://scroll.io/blog" class="footer-list-item-link">Blog</a>
        </li>
        <li class="footer-list-item">
          <a href="https://guide.scroll.io/" class="footer-list-item-link">User Guide</a>
        </li>
        <li class="footer-list-item">
          <a
            href="https://scrollzkp.notion.site/Scroll-Brand-Assets-PUBLIC-8522d7dbe4c745579d3e3b14f3bbecc0"
            class="footer-list-item-link">Press Kit</a
          >
        </li>
      </ul>
    </nav>
    <nav class="footer-col">
      <h3 class="h3 footer-heading">Social</h3>
      <ul role="list" class="footer-list">
        <li class="footer-list-item-social">
          <img
            src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcc8de393ea2bffa0ff_twitter.svg"
            loading="lazy"
            width="24"
            height="24"
            alt=""
            class="footer-list-item-social-icon"
          /><a href="https://twitter.com/scroll_zkp" class="footer-list-item-link"> Twitter</a>
        </li>
        <li class="footer-list-item-social">
          <img
            src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcc3830fc22d9bc18c8_youtube.svg"
            loading="lazy"
            width="24"
            height="24"
            alt=""
            class="footer-list-item-social-icon"
          /><a href="https://www.youtube.com/@scroll_zkp" class="footer-list-item-link"> YouTube</a>
        </li>
        <li class="footer-list-item-social">
          <img
            src="https://assets-global.website-files.com/5f6b7190899f41fb70882d08/5f760fcff3840d5ec8300b30_discord.svg"
            loading="lazy"
            width="24"
            height="24"
            alt=""
            class="footer-list-item-social-icon"
          /><a href="https://discord.gg/scroll" class="footer-list-item-link"> Discord</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="footer-copyright-wrapper">
    <div class="footer-copyright">
      <div class="col footer-registry">
        <a href="/" class="footer-copyright-logo">
          <!-- TODO: Create thicker lined logo for white on dark, maybe render as png. -->
          <img
            src="/scroll-white.svg"
            style="height:30px; width: auto"
            loading="lazy"
            alt="Scroll logo"
            class="logo-white"
          />
        </a>
        <div class="paragraph small footer-chainlinkreg hidden-sm">2023 Scroll</div>
        <div class="paragraph small footer-chainlinkreg hidden-sm">
          Forked from
          <a href="https://github.com/smartcontractkit/documentation" target="_blank"> Chainlink Docs</a>
        </div>
      </div>
      <div class="col footer-privacyandterms">
        <!-- TODO: Link to our Privacy Policy and Terms of Use -->
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Use</a>
      </div>
    </div>
  </div>
</footer>

<style>
  .footer-heading {
    @apply text-white text-[18px];
  }
  .footer-chainlinkreg {
    @apply whitespace-nowrap;
  }

  .footer-list-item {
    @apply flex mb-4 items-center;
  }

  .footer-list-item.footer-list-item-hidden {
    @apply hidden;
  }

  .footer-list-item-link {
    @apply text-[#9ea2ab];
  }
  .footer-list-item-link:hover {
    @apply text-white;
  }

  .footer-list-item-social {
    @apply flex mb-4;
  }

  .footer-list-item-social-icon {
    margin-right: 8px;
  }

  .footer-copyright-wrapper {
    @apply w-full bg-gray-900 p-8 text-sm;
  }
  .footer-copyright {
    @apply flex flex-col gap-8;
  }
  .footer-registry {
    @apply flex-wrap flex-col;
  }
  .footer-privacyandterms {
    @apply place-content-evenly gap-8;
    /* justify-content: space-evenly; */
  }
  .footer-privacyandterms a {
    @apply text-white;
  }

  @media (min-width: 50em) {
    .footer-grid {
      @apply grid-cols-3;
    }
    .footer-copyright {
      @apply flex flex-row justify-between;
    }
    .footer-registry {
      @apply flex-row;
    }
    .footer-copyright-logo {
      @apply mr-8;
    }
    .footer-chainlinkreg {
      @apply mr-4;
    }
  }

  /** Utilities */
  .col {
    @apply flex items-center;
  }
  .footer-logo-text-hide {
    @apply absolute left-0 top-0 z-[-1] w-0 h-0 min-w-0 opacity-0;
  }
  .hidden-sm {
    @apply hidden;
  }
  @media (min-width: 50em) {
    .hidden-sm {
      @apply block;
    }
  }
</style>
