.newsletter-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-16x) var(--space-8x);
  background-image: url(/images/newsletter_bg.svg);
  background-position: center;
  background-size: cover;
}

.newsletter-cta .hiddenLabel {
  overflow: hidden;
  display: none;
  width: var(--space-0x);
  height: var(--space-0x);
  text-indent: 100%;
  white-space: nowrap;
}

.newsletter-cta :is(h2) {
  margin-bottom: var(--space-12x);
}

.newsletter-cta .w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.form-subscribe {
  max-width: 550px;
  width: 100%;
}

.form-subscribe-field-wrapper {
  display: flex;
  gap: var(--space-2x);
  flex-direction: column;
}

@media (min-width: 50em) {
  .form-subscribe-field-wrapper {
    flex-direction: row;

    gap: var(--space-4x);
  }
}
.newsletter-cta .cta-subscribe-input {
  width: 100%;
  height: 56px;
  max-height: 56px;
  padding-right: 24px;
  padding-left: 24px;
  border-style: solid;
  border-width: var(--border-width-secondary);
  border-color: var(--gray-300);
  border-radius: var(--border-radius-primary);
  box-shadow: 0 12px 32px -12px rgb(12 22 44 / 32%);
}
.newsletter-cta .cta-subscribe-input::placeholder {
  font-style: italic;
}

/* #subscribe-button {
  width: 100%;
} */
.subscribe-form-success-social {
  margin-right: 4px;
  margin-left: 4px;
  transition: transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
}
.subscribe-success-social {
  margin-top: var(--space-2x);
  display: flex;
  justify-content: center;
}

.subscribe-form-success-social:hover {
  transform: translate(0px, -4px);
}

.newsletter-cta .form-subscribe-checkbox {
  display: block;
  margin-top: var(--space-4x);
  cursor: pointer;
}
