.newsletter-cta {
  @apply flex flex-col items-center py-16 px-8 bg-center bg-cover bg-[url('/images/newsletter_bg.svg')];
}

.newsletter-cta :is(h2) {
  @apply mb-12;
}

.newsletter-cta .w-inline-block {
  @apply max-w-full inline-block;
}

.form-subscribe {
  @apply max-w-[550px] w-full;
}

.form-subscribe-field-wrapper {
  @apply flex gap-2 flex-col;
}

@media (min-width: 50em) {
  .form-subscribe-field-wrapper {
    @apply flex-row gap-4;
  }
}
.newsletter-cta .cta-subscribe-input {
  @apply w-full h-[56px] max-h-[56px] px-6 border-solid border-2 border-gray-300 rounded-primary shadow-[0_12px_32px_-12px_rgba(12,22,44,0.32)];
}
.newsletter-cta .cta-subscribe-input::placeholder {
  @apply italic;
}

/* #subscribe-button {
  width: 100%;
} */
.subscribe-form-success-social {
  @apply mx-1;
  transition: transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
}
.subscribe-success-social {
  @apply mt-2 flex justify-center;
}

.subscribe-form-success-social:hover {
  transform: translate(0px, -4px);
}

.newsletter-cta .form-subscribe-checkbox {
  @apply block mt-4 cursor-pointer;
}
