---
interface Props {
  title: string
  content: string
  url?: string
  targetName?: string
}
const { title, content, url, targetName } = Astro.props as Props
---

<div class="box">
  <div>
    <p class="title">{title}</p>
    <p class="content">{content}</p>
  </div>
  {
    targetName && (
      <div class="remix-callout">
        <a href={url}>{targetName}</a>
      </div>
    )
  }
</div>

<style>
  .box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    gap: 1rem;
  }
  p {
    margin-bottom: 0;
  }
  .title {
    font-size: 46px;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 25px;
  }
  .content {
    font-size: 24px;
    line-height: 34px;
  }

  @media screen and (max-width: 600px) {
    .box {
      flex-direction: column;
      align-items: flex-start;
    }
    .title {
      font-size: 32px;
      line-height: 34px;
      margin-bottom: 22px;
    }
    .content {
      font-size: 18px;
      line-height: normal;
    }
  }
</style>
