---
import NavCard from "~/components/NavCard.astro"
import StartSvg from "~/assets/svgs/home/home-start.svg?raw"
import DevelopSvg from "~/assets/svgs/home/home-develop.svg?raw"
import TechnologySvg from "~/assets/svgs/home/home-technology.svg?raw"
import LearnSvg from "~/assets/svgs/home/home-learn.svg?raw"
import SectionHeader from "~/components/SectionHeader/index.astro"

const navList = [
  {
    icon: StartSvg,
    name: "Getting started",
    content: "Bridge into Scroll and explore our dApp Ecosystem.",
    link: "/en/getting-started/overview",
  },
  {
    icon: DevelopSvg,
    name: "Developers",
    content: "Dive into Scroll’s developer documentation.",
    link: "/en/developers",
  },
  {
    icon: TechnologySvg,
    name: "Technology",
    content: "An overview of Scroll’s zkEVM Architecture.",
    link: "/en/technology",
  },
  {
    icon: LearnSvg,
    name: "Learn",
    content: "An introduction to the world of ZK and Scalability.",
    link: "/en/learn",
  },
]
---

<div class="navigate">
  <SectionHeader title="Navigate the Docs" content="Start developing on Scroll today." />
  <div class="navs">
    {navList.map(({ icon, name, content, link }) => <NavCard icon={icon} name={name} content={content} link={link} />)}
  </div>
</div>

<style>
  .navigate {
    margin-top: 146px;
  }

  .navs {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 50em) {
    .navigate {
      margin-top: 106px;
    }
    .navs {
      flex-direction: column;
      align-items: center;
    }
  }
</style>
