.chainsWrapper {
  display: flex;
  flex-wrap: wrap;
  @apply gap-2 mt-4;
}

.chainIcon {
  @apply w-6 h-6;
}

.productCard {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 50em) {
  .productCard {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
  }
}

.firstCol {
}

@media (min-width: 50em) {
  .firstCol {
    display: flex;
    align-items: flex-start;
  }
}

.firstCol img {
  @apply mr-8 w-16;
}

.firstCol p {
  @apply mt-2 mx-0 mb-4;
}

.networks {
  padding: 1rem;
  @apply bg-gray-100 rounded-primary;
}

.links-wrapper {
  display: flex;
}

.links > * {
  @apply mt-4;
}

.links .separator {
  @apply border-0 border-t-[1px] border-solid border-gray-200;
}

.links > *:first-child {
  @apply m-0;
}
