.tabPane {
  display: none;
}

.tabElement {
  @apply mt-6;
}

.active {
  display: block;
}

.navTabs {
  display: flex;
  list-style: none;
  margin: 0;
  @apply border-0 border-b-[2px] border-solid border-gray-200;
}

.navTabs li a {
  display: inline-flex;
  @apply p-4 gap-4;
}

.navTabs li:hover {
  margin-bottom: -2px;
  @apply border-0 border-b-[2px] border-solid border-gray-300;
}

.activeTab,
.navTabs .activeTab:hover {
  margin-bottom: -2px;
  @apply border-0 border-b-[2px] border-solid border-link;
}
