---
import SectionHeader from "~/components/SectionHeader/index.astro"

const navList = [
  {
    icon: "/svgs/home-start.svg",
    name: "Getting started",
    content: "Bridge into Scroll and explore our dApp Ecosystem.",
    link: "/en/getting-started/overview",
  },
  {
    icon: "/svgs/home-develop.svg",
    name: "Developers",
    content: "Dive into Scroll’s developer documentation.",
    link: "/en/developers",
  },
  {
    icon: "/svgs/home-technology.svg",
    name: "Technology",
    content: "An overview of Scroll’s zkEVM Architecture.",
    link: "/en/technology",
  },
  {
    icon: "/svgs/home-learn.svg",
    name: "Learn",
    content: "An introduction to the world of ZK and Scalability.",
    link: "/en/learn",
  },
]
---

<div class="navigate">
  <SectionHeader title="Navigate the Docs" content="Start developing on Scroll today." />
  <div class="navs">
    {
      navList.map(({ icon, name, content, link }) => (
        <div class="navs-item">
          <span style={{ background: `url(${icon}) center no-repeat` }} class="navs-item-icon" />
          <span class="navs-item-title">{name}</span>
          <span class="navs-item-content">{content}</span>
          <a class="navs-item-link" href={link}>
            Read more
            <span class="link-icon" />
          </a>
        </div>
      ))
    }
  </div>
</div>

<style>
  .navigate {
    margin-top: 146px;
  }

  .navs {
    display: flex;
    justify-content: space-between;
  }
  .navs-item {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-top: 100px;
  }

  .navs-item-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
  }
  .navs-item-title {
    font-size: 22px;
    font-weight: 600;
  }
  .navs-item-content {
    font-size: 20px;
    line-height: normal;
    height: 84px;
  }
  .navs-item-link {
    width: 123px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 16px;
    text-decoration: 1px underline;
    text-underline-offset: 2px;
    color: #c58d49;
    background-color: #fff0dd;
  }
  .navs-item-link:hover {
    background-color: #ffdeb5;
  }

  .link-icon {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 2px;
    background: url(/svgs/home-link.svg) center no-repeat;
  }

  @media screen and (max-width: 600px) {
    .navigate {
      margin-top: 106px;
    }
    .navs {
      flex-direction: column;
      align-items: center;
    }
    .navs-item {
      align-items: center;
      gap: 8px;
      width: 260px;
    }
    .navs-item-title {
      font-size: 20px;
      line-height: normal;
    }
    .navs-item-content {
      text-align: center;
      height: auto;
    }
    .navs-item-link {
      margin-top: 14px;
    }
  }
</style>
